body{
    margin: 0%;
font-family: "Josefin Sans";
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(248, 170, 69);
}
.half-width{
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-color: rgb(248, 170, 69);
    padding: 10px ;
}
